.navbar {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.left-side {
    height: 100vh;
    margin: 0;
    padding-top: 60px;
    background-color: #1b6d85;
    text-align: center;
    user-select: none;
}

.main {
    height: 100vh;
    margin: 0;
    background-color: #2aabd2;
    padding: 60px 20px 10px 15px;
    overflow-y: scroll;
}

.menu:hover {
    cursor: pointer;
}

.menu {
    min-height: 45px;
    line-height: 45px;
}