<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="index">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="col-sm-2 left-side">
            <div v-for="item in menus" v-if="item.parent_id == 0">
                <div :class="showChildId==item.id?menuClass:menu" @click="toggleMenu(item.id)">
                    {{item.menu_name}}
                    <li class="glyphicon glyphicon-menu-right" v-if="arrowId != item.id"></li>
                    <li class="glyphicon glyphicon-menu-down" v-else></li>
                </div>
                <div class="child" v-show="showChildId == item.id && isShowChild" v-for="child in menus"
                     v-if="item.id == child.parent_id" :class="{backgroundColor:child.id==current}">
                    <a :href="child.url" target="main"
                       @click="addColor(child.id)">{{child.menu_name}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-10 main">
            <iframe name="main" frameborder="none" :src="iframeSrc">
            </iframe>

        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<script>
    let app = new Vue({
        el: "#index",
        data: {
            url: "http://127.0.0.1:8080/menu",
            menus: [],
            isShowChild: false,
            showChildId: 0,
            arrowId: 0,
            iframeSrc: "",
            menuClass: "menu selected",
            menu: "menu",
            current: 0
        },
        mounted() {
            //need another url
            /*            this.menus = [
                            {"id": "1", "menu_name": "system manage", "parent_id": "0", "url": "", "is_menu": "1"},
                            {"id": "2", "menu_name": "system-setting2", "parent_id": "0", "url": "", "is_menu": "1"},
                            {"id": "3", "menu_name": "system-setting3", "parent_id": "0", "url": "", "is_menu": "1"},
                            {"id": "4", "menu_name": "system-setting4", "parent_id": "0", "url": "", "is_menu": "1"},
                            {"id": "5", "menu_name": "menu manage", "parent_id": "1", "url": "./menu.html", "is_menu": "2"},
                            {"id": "6", "menu_name": "system-setting12", "parent_id": "1", "url": "", "is_menu": "2"},
                            {"id": "7", "menu_name": "system-setting13", "parent_id": "1", "url": "", "is_menu": "2"},
                            {"id": "8", "menu_name": "system-setting21", "parent_id": "2", "url": "", "is_menu": "2"},
                            {"id": "9", "menu_name": "system-setting31", "parent_id": "3", "url": "", "is_menu": "2"},
                        ]*/
            //send axios request menus
            //json:
            // {"id":"1","menu_name":"system-setting","parent_id":"0"}
            let that = this;
            axios.get(this.url + "?limit=100&offset=0").then(
                function (res) {
                    if (res.status === 200) {
                        that.menus = res.data
                        console.log(res);

                    }
                }
            )
        },
        methods: {
            toggleMenu: function (id) {
                if (this.showChildId === id) {
                    this.isShowChild = !this.isShowChild;
                } else {
                    this.isShowChild = true;
                    this.showChildId = id;
                }
                if (this.isShowChild) {
                    // this.menuClass = "menu selected";
                    this.arrowId = id
                } else {
                    // this.menuClass = "menu";
                    this.arrowId = 0
                }
            },
            menuClick: function (url, parent_id) {
                this.isShowChild = true;
                this.showChildId = parent_id;
                this.iframeSrc = url;
            },
            addColor: function (id) {
                this.current = id;

            }
        }
    })
</script>
</body>
</html>